<ion-header>

    <ion-toolbar color="primary">
        <ion-title>GitHub User Search</ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-searchbar [(ngModel)]="username" (ionChange)="searchUserInformation()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let user of users">
            <ion-item button (click)="getUserInformation(user)">
                <ion-avatar item-left>
                    <img [src]="user.avatar_url" alt="img">
                </ion-avatar>
                <ion-label>
                    <h2>{{user.login}}</h2>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>
