<ion-header>

  <ion-toolbar color="primary">
    <ion-title>User Search</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label position="stacked" color="primary">Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button (click)="getUserInformation()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
